{
  "loadingUrls": [
    {
      "IsLocal": true,
      "Url": "",
      "Enable": false,
      "UrlId": "asset1",
      "Title": "StreamingAssets"
    },
    {
      "IsLocal": false,
      "Url": "ftp://192.168.199.215/PogoFrameAssets",
      "Enable": true,
      "UrlId": "asset1",
      "Title": "Local FTP @ Ethan's MAC"
    },
    {
      "IsLocal": false,
      "Url": "ftp://192.168.199.215/PogoFrameAssets",
      "Enable": true,
      "UrlId": "asset2",
      "Title": "Local FTP @ Ethan's MAC"
    }
  ],
  "exportUrls": [
    {
      "Clear": true,
      "Urls": [
        "AssetBundles",
        "Assets/StreamingAssets",
        "ftp://192.168.199.215:21/PogoFrameAssets|ethan|ethan"
      ],
      "targetStandalone": true,
      "targetIOS": false,
      "targetAndroid": false,
      "Enable": true,
      "UrlId": "asset1",
      "Title": "Default asset1"
    }
  ]
}